@keyframes knifeRotate {
    from {
        transform: rotateX(0) rotateY(0);
    }
    to {
        transform: rotateX(20deg) rotateY(5deg);
    }
}

@keyframes stickRotateLeft {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(70deg);
    }
}

@keyframes stickRotateRight {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(-70deg);
    }
}

@keyframes rotatingIceCubeLeft {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes rotatingIceCubeRight {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(-360deg);
    }
}

@keyframes knifeMirror {
    from {
        transform: rotateZ(25deg) translateX(25px) translateY(-100%);
    }
    to {
        transform: rotateZ(25deg) translateX(25px) translateY(0%);
    }
}

@keyframes smoke {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-50%);
    }
}

@keyframes glassSpil {
    0% {
        background-image: url('../resources/images/whiskey1.png');
    }
    100% {
        background-image: url('../resources/images/whiskey2.png');
    }
}

@keyframes flyPlate {
    0% {
        transform: translateX(50%) scale(1);
        opacity: 1;
    }
    55% {
        opacity: 1;
    }
    60% {
        transform: translateX(20%) translateY(-5%) scale(0.77);
        opacity: 0;
    }
    100% {
        transform: translateX(20%) translateY(-5%) scale(0.77);
        opacity: 0;
    }
}

@keyframes crashPlate {
    0% {
        opacity: 0;
    }
    54% {
        opacity: 0;
    }
    60% {
        width: 100%;
        height: 100%;
        margin: 0;
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        width: 105%;
        height: 120%;
        margin: -5% 0 0 -2.5%;
        opacity: 0;
    }
}



