@import './animations.scss';

body {
    margin: 0;
    background-color: #222;
}
.hide {
    display: none;
}
.centerContent {
    display: flex;
    justify-content: center;
    align-items: center;
}


.main_wrapper {
    margin: auto;
    width: 60%;
    box-shadow: 0 0 20px 5px black;
    background-image: url('../resources/images/bg_desk.jpg');
    background-size: 100% auto;
    background-repeat: repeat-y;
    overflow: hidden;
    color: white;

    h1, h2, h3 {
        font-family: sans-serif;
        font-weight: 200;
        letter-spacing: 0.3em;
        line-height: 1.5;
        text-transform: uppercase;
        text-align: center;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        font-family: sans;
        text-align: center;
        width: 50%;
    }

    section {
        padding: 5vh 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .delim {
            width: 100%;
            height: 2vh;
            background-image: url('../resources/images/delimiter.jpg');
            background-size: auto 100%;
        }
        .delimiter_image {
            width: 100%;
            height: 50%;            
        }

        // &:nth-child(2n-1) {
        //     background-color: rgba(200, 0, 0, 0.2);
        // }
        &:nth-child(1) {
        }
        &:nth-child(2) {
            background-color: rgba(0,0,0,1);
            box-shadow: 0 0 20px 2px black;
            h2 {
                width: 50%;
            }
            .knife_wrapper {
                width: 50vw;
                height: 25vw;
                min-width: 300px;
                min-height: 150px;
            }
        }
        &:nth-child(3) {
            .bbq_wrapper {
                width: 40vw;
                height: 30vw;
                min-width: 270px;
                min-height: 200px;
            }
        }
        &:nth-child(4) {
            justify-content: center;
            .snacks {
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: white;

                >img {
                    width: 30%;
                }
            }
        }
        &:nth-child(5) {
            position: relative;
            justify-content: flex-start;
            .lemon {
                position: absolute;
                top: 0;
                right: 0;
                width: 20%;
            }
            .stick_wrapper {
                position: absolute;
                width: 100%;
                height: 100%;
            }
            h2 {
                margin-top: 20%;
            }
        }
        &:nth-child(6) {
            justify-content: center;
            .kitchen {
                background-image: url('../resources/images/kitchen.jpg');
                background-size: auto 100%;
            }
        }
        &:nth-child(7) {
            .whiskey_wrapper {
                width: 50vw;
                height: 40vw;
            }
            .text_wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            h2, p {
                width: 50%;
            }
        }
        &:nth-child(8) {
            margin-top: 40vh;
            height: 60vh;
            background-color: white;
            color: black;
            .button {
                padding: 5px 10px;
                text-transform: uppercase;
                border: 2px solid black;
                cursor: pointer;
                transition: 0.5s;
                font-family: sans-serif;
                line-height: 1;

                &:hover {
                    transform: scale(1.05)
                }
            }
            .dots {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 25%;
            }
            h1 {
                font-size: 3em;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .main_wrapper {
        width: 100%;

        h2 {
            font-size: 1.5em;
        }
    }
}